<link rel="stylesheet" href="/css/home.css" />

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <!-- Student List -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Student List</h3>
        </div>
        <div class="card-body">
          <div class="accordion" id="studentAccordion">
            <% for(student of all_students) {%>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#student<%= student._id %>Collapse"
                  aria-expanded="false"
                  aria-controls="student<%= student._id %>Collapse"
                >
                  <span class="fw-semibold text-capitalize"
                    ><%= student.name %></span
                  >
                </button>
              </h2>
              <div
                id="student<%= student._id %>Collapse"
                class="accordion-collapse collapse"
                data-bs-parent="#studentAccordion"
              >
                <div class="accordion-body">
                  <p><strong>Name:</strong> <%= student.name %></p>
                  <p><strong>Email:</strong> <%= student.email %></p>
                  <p><strong>College:</strong> <%= student.college %></p>
                  <p><strong>Batch:</strong> <%= student.batch %></p>
                  <p>
                    <strong>Status:</strong> <%= student.placement_status %>
                  </p>
                  <p>
                    <strong>DSA Final Score:</strong> <%=
                    student.courseScores.dsaFinalScore %>%
                  </p>
                  <p>
                    <strong>Web Development Final Score:</strong> <%=
                    student.courseScores.webDFinalScore %>%
                  </p>
                  <p>
                    <strong>React Final Score:</strong> <%=
                    student.courseScores.reactFinalScore %>%
                  </p>
                </div>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Interview List -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Interview List</h3>
        </div>
        <div class="card-body">
          <div class="accordion" id="interviewAccordion">
            <% for (interview of all_interviews) { %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#interview<%= interview._id %>Collapse"
                  aria-expanded="false"
                  aria-controls="interview<%= interview._id %>Collapse"
                >
                  <span class="fw-bold text-capitalize"
                    ><%= interview.company %></span
                  >
                </button>
              </h2>
              <div
                id="interview<%= interview._id %>Collapse"
                class="accordion-collapse collapse"
                data-bs-parent="#interviewAccordion"
              >
                <div class="accordion-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Company</th>
                        <td class="fw-bold text-capitalize">
                          <%= interview.company %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="col">Date</th>
                        <td class="fw-bold"><%= interview.date %></td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- Display allocated students -->
                  <% for (allocatedStudent of interview.students) { %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text">
                            <strong>Name:</strong> <%=
                            allocatedStudent.student.name %>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="card-text">
                            <strong>Email:</strong> <%=
                            allocatedStudent.student.email %>
                          </p>
                        </div>
                      </div>
                      <p class="card-text">
                        <strong>Result:</strong> <%= allocatedStudent.result %>
                      </p>
                    </div>
                  </div>
                  <% } %>

                  <!-- Button to toggle the Allocate Student form -->
                  <button
                    class="btn btn-primary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#allocateForm<%= interview._id %>"
                    aria-expanded="false"
                    aria-controls="allocateForm<%= interview._id %>"
                  >
                    Allocate Student
                  </button>

                  <!-- Allocate Student form -->
                  <div
                    class="collapse mt-4"
                    id="allocateForm<%= interview._id %>"
                  >
                    <form
                      action="/interviews/allocate-student/<%= interview._id %>"
                      method="POST"
                    >
                      <div class="mb-2">
                        <label for="student" class="fw-bold form-label"
                          >Select Student:</label
                        >
                        <select
                          name="student"
                          id="student"
                          class="form-select"
                          required
                        >
                          <% for (student of all_students) { %>
                          <option value="<%= student._id %>">
                            <%= student.name %>
                          </option>
                          <% } %>
                        </select>
                      </div>
                      <div class="mb-2">
                        <label for="result" class="form-label fw-bold"
                          >Result:</label
                        >
                        <select
                          name="result"
                          id="result"
                          class="form-select"
                          required
                        >
                          <option value="Pass">Pass</option>
                          <option value="Fail">Fail</option>
                          <option value="On Hold">On Hold</option>
                          <option value="Didn't Attempt">Didn't Attempt</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">
                        Allocate
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
