<link rel="stylesheet" href="/css/home.css" />

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <!-- Student List -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Student List</h3>
        </div>
        <div class="card-body">
          <div class="accordion accordion-flush" id="studentAccordion">
            <% for(student of all_students) {%>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#student<%= student._id %>Collapse"
                  aria-expanded="false"
                  aria-controls="student<%= student._id %>Collapse"
                >
                  <span class="fw-semibold text-capitalize"
                    ><%= student.name %></span
                  >
                </button>
              </h2>
              <div
                id="student<%= student._id %>Collapse"
                class="accordion-collapse collapse"
                data-bs-parent="#studentAccordion"
              >
                <div class="accordion-body">
                  <p><strong>Name:</strong> <%= student.name %></p>
                  <p><strong>Email:</strong> <%= student.email %></p>
                  <p><strong>College:</strong> <%= student.college %></p>
                  <p><strong>Batch:</strong> <%= student.batch %></p>
                  <p>
                    <strong>Status:</strong> <%= student.placement_status %>
                  </p>
                  <p>
                    <strong>DSA Final Score:</strong> <%=
                    student.courseScores.dsaFinalScore %>%
                  </p>
                  <p>
                    <strong>Web Development Final Score:</strong> <%=
                    student.courseScores.webDFinalScore %>%
                  </p>
                  <p>
                    <strong>React Final Score:</strong> <%=
                    student.courseScores.reactFinalScore %>%
                  </p>
                </div>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Interview List -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Interview List</h3>
        </div>
        <div class="card-body">
          <div class="accordion" id="interviewAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#interview1Collapse"
                  aria-expanded="false"
                  aria-controls="interview1Collapse"
                >
                  <span class="fw-bold text-capitalize">Comapny name</span>
                </button>
              </h2>
              <div
                id="interview1Collapse"
                class="accordion-collapse collapse"
                data-bs-parent="#interviewAccordion"
              >
                <div class="accordion-body">
                  <!-- Add more interviews here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
